<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Car dealership", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Cars
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "All", "Cars")</li>
                        <li>@Html.ActionLink("Create", "Add", "Cars")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Customers
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "All", "Customers")</li>
                        <li>@Html.ActionLink("Create", "Add", "Customers")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Parts
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "All", "Parts")</li>
                        <li>@Html.ActionLink("Create", "Add", "Parts")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Sales
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "All", "Sales")</li>
                        <li>@Html.ActionLink("Discounted", "Discounted", "Sales")</li>
                        <li>@Html.ActionLink("Add", "Add", "Sales")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Suppliers
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "All", "Suppliers")</li>
                        <li>@Html.ActionLink("New All", "New", "Suppliers")</li>
                    </ul>
                </li>
            </ul>
            @if (ViewBag.IsLogged)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav navbar-brand">Hello, @Html.Action("GetCurrentUsername", "Account")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&nbsp;© 2017 - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
