@using PagedList.Mvc
@model PagedList.IPagedList<CarDealer.ViewModels.Cars.CarViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All";
}

<h2>All Cars</h2>

<table class="table">
    <tr>
        <th>
            <strong>Make</strong>
        </th>
        <th>
            <strong>Model</strong>
        </th>
        <th>
            <strong>Travelled Distance</strong>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelledDistance)
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("All",
    new { page, make = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
