@model CarDealer.ViewModels.Cars.CarPartsViewModel

@{
    ViewBag.Title = "Parts for car";
}

<h2>Car : @Model.Make - @Model.Model</h2>
<h2>Travelled Distance: @Model.TravelledDistance</h2>
<h2>Parts: </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parts[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parts[0].Price)
        </th>
    </tr>

    @foreach (var part in Model.Parts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => part.Price)
            </td>
        </tr>
     }

</table>
