@model PagedList.IPagedList<CarDealer.ViewModels.Logs.LogViewModel>
@using CarDealer.ViewModels.Logs
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All";
}
<br/>
@using (@Html.BeginForm("All", "Logs", FormMethod.Get))
{
    @Html.TextBox("Username...", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-3", Name = "user"})    
    <input type="submit"value="Search Logs" class="btn btn-primary" />
    @Html.ActionLink("Clear All Logs", "Delete", "Logs", new { @class = "btn btn-warning col-md-offset-6"})
}
<br/>
<table class="table">
    <tr>
        <th>
            <strong>User</strong>
        </th>
        <th>
            <strong>Operation</strong>
        </th>
        <th>
            <strong>Modified Table</strong>
        </th>
        <th>
            <strong>Time</strong>
        </th>
    </tr>

    @foreach (LogViewModel log in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => log.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => log.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => log.ModifiedTable)
            </td>
            <td>
                @log.TimeLogged.ToString("dd MMM yyyy hh:mm:ss")
            </td>
        </tr>
    }
</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("All",
    new { page, user = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
