@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-collapse collapse navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Camera Bazaar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Camera
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add", "Add", "Camera")</li>
                        <li>@Html.ActionLink("All", "All", "Camera")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="dropdown-toggle nav navbar-brand" data-toggle="dropdown">
                        Profile
                    <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "EditProfile", "User", new {@username = User.Identity.GetUserName()}, null)</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Camera Bazaar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
